<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>Lista de Productos</h2>
    <ul>
        {{#each products}}
            <li>
                <strong>Nombre:</strong> {{this.title}} <br>
                <strong>Precio:</strong> ${{this.price}} <br>
                <form action="/products/{{this.id}}/add-to-cart" method="POST">
                    <label for="quantity">Cantidad:</label>
                    <input type="number" id="quantity" name="quantity" value="1" min="1">
                    <button type="submit">Agregar al carrito</button>
                </form>
            </li>
        {{/each}}
    </ul>
</body>
</html>
